<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title  | AdminLTE Starter</title>
    <link href="@Url.Content("~/Content/AdminLTE/adminlte.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Plugins/fontawesome-free/css/all.min.css")" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_NavBar")
        <div class="content">
            @RenderBody()
        </div>
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer>
            <p>&copy; @DateTime.Now.Year - WebChat</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-2.4.3.js" type="text/javascript"></script>
    <script src="signalr/hubs" type="text/javascript"></script>
    <script src="@Url.Content("~/Plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AdminLTE/adminlte.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    var IWannaChat = $.connection.myChatHub;
    var IWannaChatUserName = '@ViewBag.UserName';
    IWannaChat.client.addMessage = function (message, user) {
        if (user == IWannaChatUserName) {
            createMsg(user, message, true);
        } else {
            createMsg(user, message, false);
        }
        $("#divChat01").animate({ scrollTop: 999999999 }, 1000)
    };
    IWannaChat.client.addMessageStooq = function (message, user) {
        const d = new Date();
        const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        let minutes = d.getMinutes();
        let hours = d.getHours();
        let day = d.getDate();
        let monthName = month[d.getMonth()];
        if (user == IWannaChatUserName) {
            $.ajax({
                url: '/StooqBot/GetStooq',
                type: 'GET',
                data: { stock_code: message } ,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#divChat01").append('<div class="direct-chat-msg">' +
                        '<div class="direct-chat-infos clearfix">' +
                        '<span class="direct-chat-name float-left">' + 'BOT' + '</span>' +
                        '<span class="direct-chat-timestamp float-right">' + day + ' ' + monthName + ' ' + hours + ':' + minutes + ' </span>' +
                        '</div>' +
                        '<img class="direct-chat-img" src="/Content/Images/user-solid.svg" alt="Message User Image">' +
                        '<div class="direct-chat-text">' +
                        '<p>' + response + '</p>' +
                        '</div>' +
                        '</div>');
                },
                error: function () {

                }
            });
        } else {
            $.ajax({
                url: '/StooqBot/GetStooq',
                type: 'GET',
                data: { stock_code: message },
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#divChat01").append('<div class="direct-chat-msg right">' +
                        '<div class="direct-chat-infos clearfix">' +
                        '<span class="direct-chat-name float-left">' + 'BOT' + '</span>' +
                        '<span class="direct-chat-timestamp float-right">' + day + ' ' + monthName + ' ' + hours + ':' + minutes + ' </span>' +
                        '</div>' +
                        '<img class="direct-chat-img" src="/Content/Images/user-solid.svg" alt="Message User Image">' +
                        '<div class="direct-chat-text">' +
                        '<p>' + response + '</p>' +
                        '</div>' +
                        '</div>');
                },
                error: function () {

                }
            });
        }
        $("#inputSendMsg01").val('');
        $("#divChat01").animate({ scrollTop: 999999999 }, 1000);
    };
    $.connection.hub.start().done(function () {
        // Connection successful
        IWannaChat.invoke('sendMessage', 'John', 'Hello, SignalR!');
    }).fail(function (error) {
        // Connection error
        console.error(error);
    });
    function sendMsgSignalR() {
        IWannaChat.server.send($("#inputSendMsg01").val(), IWannaChatUserName);
    }


    IWannaChat.on('receiveMessage', function (user, message) {
        // Handle received messages
        console.log(user + ": " + message);
    });

    function createMsg(user, message,type) {
        const d = new Date();
        const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        let minutes = d.getMinutes();
        let hours = d.getHours();
        let day = d.getDate();
        let monthName = month[d.getMonth()];
        let countMsg = $("#divChat01").children().length;
        if (type) {
            $("#divChat01").append('<div class="direct-chat-msg">' +
                '<div class="direct-chat-infos clearfix">' +
                '<span class="direct-chat-name float-left">' + user + '</span>' +
                '<span class="direct-chat-timestamp float-right">' + day + ' ' + monthName + ' ' + hours + ':' + minutes + ' </span>' +
                '</div>' +
                '<img class="direct-chat-img" src="/Content/Images/user-solid.svg" alt="Message User Image">' +
                '<div class="direct-chat-text">' +
                '<p>' + message + '</p>' +
                '</div>' +
                '</div>');
        }
        else {
            $("#divChat01").append('<div class="direct-chat-msg right">' +
                '<div class="direct-chat-infos clearfix">' +
                '<span class="direct-chat-name float-left">' + user + '</span>' +
                '<span class="direct-chat-timestamp float-right">' + day + ' ' + monthName + ' ' + hours + ':' + minutes + ' </span>' +
                '</div>' +
                '<img class="direct-chat-img" src="/Content/Images/user-solid.svg" alt="Message User Image">' +
                '<div class="direct-chat-text">' +
                '<p>' + message + '</p>' +
                '</div>' +
                '</div>');
        }
        if (countMsg >= 49)
            $("#divChat01").children().eq(0).remove();

        $("#contadorMsg").text(countMsg + 1)
        $("#inputSendMsg01").val('');
    }
</script>
